@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meriweather&display=swap");

:root{
    --name-font-family: 'Croissant One', sans-serif;
    --p-font-family: 'Newsreader', sans-serif;
    --main-font-family: 'Playfair Display', sans-serif;
    --p-font-family-meriweather: 'Meriweather', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    background-color: #f1faee;
}

body header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

body header .name{
    font-family: var(--name-font-family);
    font-size: 1.8rem;

    color: #1d3557;

    padding: 0.5rem 2rem;

}

body header .header-link{
    font-size: 1.8rem;
    font-family: var(--p-font-family-meriweather);

    color: blueviolet;

    padding: .5rem 2rem;
}

body header a{
    list-style: none;
    text-decoration: none;
}

body header a:link{
    color: #457b9d;
}

body header a:visited{
    color: #1a6899;
}

/*a:active, a:hover, a:focus */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--main-font-family);
    font-size: 1.6rem;

    color: #ff5400;

    padding: 3rem 3rem 6rem ;
}

main .location{
    color: #390099;
}

main .course{
    color: #ffbd00;
}

aside section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px dashed black; /*change border later */
    border-bottom: 1px dashed black;
}

aside section article.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px black solid; */

    font-family: var(--p-font-family-meriweather);
}

aside section article.projects blockquote{
    margin-top: 0;
    
    font-size: 2rem;

    color: #e85d04;
}

aside section article.projects p{
    font-size: larger;
    padding: 0;
    margin: 0.5rem;

    color: #023e8a;
}

aside section article.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border-top: 1px black dashed; */

    font-family: var(--p-font-family-meriweather);
}

aside section article.skill blockquote{
    margin-top: 0;

    font-size: 2rem;

    color: #2a4d69;
}

aside section article.skill p{
    font-size: larger;
    padding: 0;
    margin: 0.5rem;

    color: #663d00;
}


aside section article.learning{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px black solid; */
    padding: 2rem;
    font-family: var(--p-font-family-meriweather);
}


aside section article.learning blockquote{
    margin-top: 0;

    font-size: 2rem;

    color: #e76f51;
}

aside section article.learning p{
    font-size: larger;
    padding: 0;
    margin: 0.5rem;

    color: #f4a261;
}

footer{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    font-family: var(--p-font-family-meriweather);
    font-size: 1.5rem;

    padding: 0;
    margin: 0;
}

footer .work{
    font-style: italic;
    font-weight: bold;

    color: #1d3557;
}

footer a{
    text-decoration: none;
    color: #e76f51;
}

footer a:link{
    color: #e76f51;
}

footer a:visited{
    color: #ff5400;
}