@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newsreader&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meriweather&display=swap");

:root{
    --name-font-family: 'Croissant One', sans-serif;
    --p-font-family: 'Newsreader', sans-serif;
    --main-font-family: 'Playfair Display', sans-serif;
    --p-font-family-meriweather: 'Meriweather', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    height: 300vh;

    background-color: #f1faee;
}

body header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 0.2575rem #023e8a solid;
    border-radius: 0.75rem;

    padding: 0px 0.25rem;

    width: 90%;
    margin: 0.75rem auto;

    box-sizing: border-box;

}

body header .name{
    font-family: var(--name-font-family);
    font-size: 1.8rem;

    color: #1d3557;

    padding: 0 1.5rem;
    /* margin: -10px; */

}

body header .header-link{
    font-size: 1.8rem;
    font-family: var(--p-font-family-meriweather);

    color: blueviolet;

    padding: 0 1.5rem;
}

body header a{
    list-style: none;
    text-decoration: none;
}

body header a:link{
    color: #457b9d;
}

body header a:visited{
    color: #1a6899;
}

/*a:active, a:hover, a:focus */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--main-font-family);
    font-size: 1.6rem;

    color: #ff5400;

    position: relative;

    padding: 3rem 3rem 6rem ;

    /* border: 1px black solid; */
}

main img{
    position: absolute;
    height: 200px;
    width: 200px;

    object-fit: cover;
    border-radius: 50%;

    z-index: -1;

    opacity: 0;;

    transition: opacity,transform 0.5s ease-in;
    
}

h1:hover + .image,h1:hover ~ .image{
    transform: translateY(-50%);
    
    opacity: 1;
}

main h1{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0;
    transition: gap 0.5s ease;
    transition: padding 0.3s ease; /*might change ease to ease in/out */
}

main h1 span{
    display: inline-block;
    transition: transform 0.5 ease;
}

h1:hover{
    gap: 200px;
    padding: 3rem 3rem 8rem;
    /* add more padding to push other elements down so that user should probably scroll, bottom animations where text goes down as well, also add arrow */
}

h1:hover .left{
    transform: translate(1.5rem, 4rem)
}

h1:hover .right{
    transform: translate(3.5rem, 4rem);
}

main .location{
    color: #390099;
    position: relative;
}

main .location-icon{
    font-size: 2rem;

    position: absolute;
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 0.3s ease;
    /* transform: translateX(-10rem); */
}

.location:hover + .location-icon, .location:hover ~ .location-icon{
    opacity: 1;
    transform: translate(-10rem, 1rem);
}

main .course{
    /* border: 1px black solid; */
    color: #ffbd00;
}

aside section{

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 6rem; */
    border-top: 1px dashed black; /*change border later */
    border-bottom: 1px dashed black;

    height: 90rem;
}

aside section article.projects-skill-learning{
    --spacing: 4rem;

    /* height: calc(100vh - var(--spacing) * 4); */

    top: var(--spacing);    

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 50px;
    border: 3px black solid;
    border-radius: 30px;
    border-bottom: 0.625rem solid black;

    height: 70%;
    width: 90vw;
    z-index: 4;
    
    padding: 2rem;

    box-sizing: border-box;

    font-family: var(--p-font-family-meriweather);
    background-color: #e4f0e0;
    background-color: #c1d3b6;
    background: linear-gradient(
    -135deg,
    #e4f0e0 0%,
    #c1d3b6 50%,
    #f5f1e9 100%
  );
}

/* aside section article.projects-skill-learning:nth-child(1){
    top: calc(var(--spacing) * 2);
} */

aside section article.projects-skill-learning:nth-child(2){
    top: calc(var(--spacing) * 5);
    z-index: 3;
    height: 70%;
    border-bottom: 0.625rem solid black;
}

aside section article.projects-skill-learning:nth-child(3){
    top: calc(var(--spacing) * 11);
    /* border: 1px solid blue; */
    z-index: 2;
    height: 70%;
    margin-bottom: 15rem;
}




aside section article.projects-skill-learning blockquote{
    margin-top: 0;
    
    font-size: 2rem;

    color: #e85d04;
}

aside section article.projects-skill-learning p{
    font-size: larger;
    padding: 0;
    margin: 0.5rem;

    color: #023e8a;
}

footer{
    display: flex;
    flex-direction: column;

    /* position: ; */

    align-items: center;
    justify-content: space-between;

    font-family: var(--p-font-family-meriweather);
    font-size: 1.5rem;

    padding: 0;
    margin: 0;
}

footer .work{
    font-style: italic;
    font-weight: bold;

    color: #1d3557;
}

footer a{
    text-decoration: none;
    color: #e76f51;
}

footer a:link{
    color: #e76f51;
}

footer a:visited{
    color: #ff5400;
}